{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card" style="margin-top:2em;">
                <div class="card-header">
                    {{ object.author.username }}
                </div>
                <img src="{{ object.image.url }}" class="card-img-top">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'photo:like' object.id %}"
                           class="float-left btn-like {% if user in object.like.all %}active{% endif %}">Like</a>
                        <button class="float-right btn-save">Save</button>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'photo:update' object.id %}" class="card-link">수정</a>
                        <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제</a>
                    </li>
                </ul>

                {% if object.text %}
                    <div class="card-body">
                        <p class="card-text">{{ object.text }}</p>
                    </div>
                {% endif %}


            </div>

        </div>
        <div class="col"></div>
    </div>
{% endblock %}
